div {
	.etsy {
		color: red;
	}
	.image {
		width: 1265px;
	}
	.answers {

	}
	.copyright {

	}
}


li {
	list-style: none;
	border: none;
	display: inline-block;
	.left {

	}
	.middle {

	}
	.right {

	}
	.first-lr {
		border-bottom: 1px solid gray;
		height: 50px;
		width: 50px;
		margin: 0px 10px 0px 10px;
	}
	.reg-lr {
		border-bottom: 1px solid gray;
		height: 50px;
		width: 50px;
		margin: 0px 10px 0px 10px;
	}
	.last-lr {
		height: 50px;
		width:50px;
		margin: 0px 10px 0px 10px;
	}
	.answers-above {
		height: 50px;
		width: 50px;
		margin: 0px 10px 0px 10px;
	}

	.answers-below {
		height: 50px;
		width: 50px;
		margin: 0px 10px 0px 10px;

		#answer1 {

		}
		#answer2 {
			
		}
		#answer3 {
			
		}
		#answer4 {
			
		}
		#answer5 {
			
		}
		#answer6 {
			
		}
	}
}