div .etsy {
  color: red; }

img {
  width: 100%;
}

li {
  list-style: none;
  border: none;
  display: inline-block; }
  li .first-lr {
    border-bottom: 1px solid gray;
    height: 50px;
    width: 50px;
    margin: 0px 10px 0px 10px; }
  li .reg-lr {
    border-bottom: 1px solid gray;
    height: 50px;
    width: 50px;
    margin: 0px 10px 0px 10px; }
  li .last-lr {
    height: 50px;
    width: 50px;
    margin: 0px 10px 0px 10px; }
  li .answers-above {
    display: block;
    height: 100px;
    width: 200px;
    margin: 0px 10px 0px 10px; }
  li .answers-below {
    display: block;
    height: 100px;
    width: 200px;
    margin: 0px 10px 0px 10px; }
